.linkEmptyCart {
    background-color: rgb(5, 173, 13);
    color:white !important;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    font-family: Arial, sans-serif!important;
    
    font-size: 0.85em; padding: 0.5em 1em; border-radius: 5px;
  }