.item-detail {
    display: flex;
    justify-content: center;
  }
  
  .item-detail-img {
    padding: 10rem;
  }
  
  .detail-img {
    width: 25rem;
    height: 25rem;
    padding-left: 2rem;
    text-align: center;
    
  }
  
  .detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 50rem;
  }
  .card{
    width: '300rem';
    background-color: transparent;
    border-color: transparent;

  }
  .cardTitle{
    text-align: center;
  }
  .descripcion {
    width: 10rem;
  }
   .item-col-container{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-align: center;
     color: rgb(173, 8, 8);
     border: 1px;
     border-color:black;
     display: flex;
     flex-direction: column;
   }
