.NavBar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
  }
  
  .NavBar-li {
    float: left;
  }
  
  .NavBar-li-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .NavBar-li-a:hover {
    background-color: #111;
  }

  .nav-container{
    width: 100vw;
  }
  .catego {
    background-color: rgb(3, 128, 9);
    color:white !important;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    font-family: Arial, sans-serif!important;
    
    font-size: 0.85em; padding: 0.5em 1em; border-radius: 5px;
  }
  
  .catego:hover {
    background: #226040!important;
  }
  
  .catego:active {
    background-color: black;
  }

